<%= render partial: 'home/navbar' %>
<%= render partial: 'home/logo' %>
<%= render partial: 'home/banner' %>
<%= render partial: 'home/crusine' %>



<!-- reservation -->
	<div class="reservation">
		<div class="container">
			<h3 class="agileits_head">Book your table<i class="fa fa-cutlery" aria-hidden="true"></i></h3>
			<p class="agileinfo_para">Please call us directly at: <span>+000 123 342</span></p>
			<form action="#" method="post">
				<span class="input input--nao">
					<input class="input__field input__field--nao" type="text" id="input-1" placeholder=" " required="" />
					<label class="input__label input__label--nao" for="input-1">
						<span class="input__label-content input__label-content--nao">Your Name</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span>
				<span class="input input--nao">
					<input class="input__field input__field--nao" type="text" id="input-2" placeholder=" " required="" />
					<label class="input__label input__label--nao" for="input-2">
						<span class="input__label-content input__label-content--nao">Phone Number</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span>
				<span class="agileinfo_select">
					<select id="country" onchange="change_country(this.value)" class="frm-field required sect">
						<option value="null">Number of persons</option>
						<option value="null">1</option>
						<option value="null">2</option>
						<option value="null">3</option>
						<option value="null">More</option>
					</select>
				</span>
				<span class="agileinfo_select">
					<input class="date" id="datepicker" type="text" value="10/11/2016" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '10/11/2016';}" required="">
				</span>
				<span class="input input--nao wthree_time">
					<input class="input__field input__field--nao" type="text" id="input-3" placeholder=" " required="" />
					<label class="input__label input__label--nao" for="input-3">
						<span class="input__label-content input__label-content--nao">Time</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span>
				<input type="submit" value="Book Now">
			</form>
		</div>
	</div>
<!-- //reservation -->
<!-- delicious-food -->
	<div class="delicious_food">
		<div class="container">
			<h3 class="agileits_head w3_agileits_head">Our Delicious Food<i class="fa fa-gratipay" aria-hidden="true"></i></h3>
			<div class="agile_delicious_food_grids">
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/7.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '7.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/8.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '8.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/9.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '9.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/10.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '10.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/11.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '11.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/12.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '12.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/13.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '13.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/14.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '14.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="agile_delicious_food_grid">
					<a class="sb" href="images/15.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
						<div class="view view-sixth">
							<%= image_tag '15.jpg', alt: '', class: 'img-responsive'%>
							<div class="mask">
								<h4>Cookhouse</h4>
								<p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- <script type="text/javascript" src="js/smoothbox.jquery2.js"></script> -->
<!-- //delicious-food -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<h3 class="agileits_head">Newsletter<i class="fa fa-envelope-o" aria-hidden="true"></i></h3>
			<form action="#" method="post">
				<input type="email" name="email" placeholder="Your email..." required="">
				<input type="submit" value="Subscribe Now">
			</form>
		</div>
	</div>
<!-- //newsletter -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3ls_footer_grid">
				<div class="w3ls_footer_grid_left">
					<div class="w3ls_footer_grid_left1">
						<h2>Follow Us</h2>
						<div class="w3ls_footer_grid_left1_pos">
							<ul>
								<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
								<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
								<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i>Google+</a></li>
								<li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="w3ls_footer_grid_right">
					<ul class="agileits_w3layouts_footer">
						<li><a href="menu.html">Our Menu</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="team.html">About</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3_agile_copyright">
				<p>&copy; 2016 Cookhouse. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- date -->
	<!-- <script src="js/jquery-ui.js"></script> -->
	<script>
		  $(function() {
			$( "#datepicker" ).datepicker();
		  });
	</script>
<!-- //date -->
<!-- form-effect -->
	<!-- <script src="js/classie.js"></script> -->
	<script>
		(function() {
			// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
			if (!String.prototype.trim) {
				(function() {
					// Make sure we trim BOM and NBSP
					var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
					String.prototype.trim = function() {
						return this.replace(rtrim, '');
					};
				})();
			}

			[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
				// in case the input is already filled..
				if( inputEl.value.trim() !== '' ) {
					classie.add( inputEl.parentNode, 'input--filled' );
				}

				// events:
				inputEl.addEventListener( 'focus', onInputFocus );
				inputEl.addEventListener( 'blur', onInputBlur );
			} );

			function onInputFocus( ev ) {
				classie.add( ev.target.parentNode, 'input--filled' );
			}

			function onInputBlur( ev ) {
				if( ev.target.value.trim() === '' ) {
					classie.remove( ev.target.parentNode, 'input--filled' );
				}
			}
		})();
	</script>
<!-- //form-effect -->
